.git
.github
.idea
.vscode

.env
.env.*
!.env.dist

node_modules
dist
coverage
*.log
src/infrastructure/database/generated

.DS_Store

tests
docs
exports
supabase
tools

compose*.yml
Dockerfile*
README.md
